[user]
	name = Seb Jacobs
	email = me@sebjacobs.com
[core]
  excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[color]
  status = auto
  branch = auto
  diff = auto
  interactive = auto
[push]
  default = simple
[log]
  abbrevCommit = true
[pull]
  rebase = merges
[rebase]
  autoStash = true
  autosquash = true
[alias]
  praise = blame
  pushf = push --force-with-lease
[github]
  user = sebjacobs
[url "git@github.com:"]
  insteadOf = https://github.com/
[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org/
[commit]
  verbose = true
	template = ~/.gitmessage
[diff]
  noprefix = true
[merge "railsschema"]
	name = newer Rails schema version
	driver = "ruby -e 'system %(git), %(merge-file), %(--marker-size=%L), %(%A), %(%O), %(%B);\n  b = File.read(%(%A));\n  b.sub!(/^<+ .*\\nActiveRecord::Schema\\.define.version: ([\\d_]+). do\\n=+\\nActiveRecord::Schema\\.define.version: ([\\d_]+). do\\n>+ .*/) {\n    %(ActiveRecord::Schema.define(version: #{[$1, $2].max}) do);\n  };\n  File.open(%(%A), %(w)) {|f| f.write(b)};\n  exit 1 if b.include?(%(<)*%L)'"
[init]
	defaultBranch = main
