[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = Seb Jacobs
	email = me@sebjacobs.com
[core]
  excludesfile = ~/.gitignore
[branch "master"]
  mergeOptions = --no-ff
[color]
  status = auto
  branch = auto
  diff = auto
  interactive = auto
[push]
  default = simple
[log]
  abbrevCommit = true
[alias]
	l = "log --oneline --graph --decorate"
	lp = "log --oneline --graph --decorate --pretty"
	la = "log --oneline --graph --decorate --all"
[github]
  user = sebjacobs
[git-pair]
	pattern = pairing+%name+%name@futurelearn.com
	authors = chrisroos <chris@seagul.co.uk>
	authors = floehopper <james@floehopper.org>
	authors = sebjacobs <me@sebjacobs.com>
	authors = mseckington <mseckington@gmail.com>
	authors = mocoso <joel.chippindale@futurelearn.com>
	authors = nicky <nicky.thompson@gmail.com>
	authors = zetter <zetter@gmail.com>
	authors = chrislo <chris.lowis@gmail.com>
	authors = eightbitraptor <matt@eightbitraptor.com>
	authors = barrymcgee <barry.mcgee@integralcode.co.uk>
	authors = jcoglan <jcoglan@gmail.com>
	authors = markjs <mark.smith@futurelearn.com>
	authors = malpinder <mal.pinder@futurelearn.com>
	authors = wannabefro <sam.mctaggart@gmail.com>
	authors = alssndro <alex.mura@futurelearn.com>
	authors = mrageh <adam.magan@futurelearn.com>
	authors = CristinaRO <cristina.rotaru@futurelearn.com>
