[user]
  name = Seb Jacobs
  email = me@sebjacobs.com
[core]
  excludesfile = ~/.gitignore
[color]
  status = auto
  branch = auto
  diff = auto
  interactive = auto
[push]
  default = simple
[log]
  abbrevCommit = true
[pull]
  rebase = merges
[rebase]
  autoStash = true
  autosquash = true
[alias]
  praise = blame
  pushf = push --force-with-lease
[github]
  user = sebjacobs
[url "git@github.com:"]
  insteadOf = https://github.com/
[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org/
[commit]
  verbose = true
[diff]
  noprefix = true
