.claude/rag
.claude/scheduled_tasks.lock
.claude/worktrees
.claude/skills/android-cli/
.secrets.zsh
.venv
.env
.DS_Store
config/database.yml
.bundle
node_modules
.next
.idea
.gradle
.vscode
yarn-error.log
.yarn
.yarnrc
.pnp
.pnp.js
vendor/cache
__pycache__
.pytest_cache/
.byebug_history
public/sitemaps
tags
.foreman
*.swp

### Maven ###
target/
